* {
    font-family: 'Roboto', sans-serif;
    color: rgb(65, 65, 65);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}

main {
    padding: 0 10%;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-menu-item {
    font-size: 12pt;
    text-transform: uppercase;
    padding: 15px;
}

.header-menu-item a {
    text-decoration: none;
}

.profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */


    /* background-size: auto; */
    /* background-color: #cccccc; */
}

.profile-name, .profile-titles, .header-menu-item a {
    /* color: white; */
}

.profile-titles {
    margin-top: 2px;
}

.profile {
    /* background-image: url('../vector-bg.jpg'); */
    background-color: rgb(131, 243, 97);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 0; */
    /* height: 600px; */
}

.bio-text {
    text-align: justify;
    /* color: grey; */
}

footer {
    /* position: absolute;
    bottom:0;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 1%;
    padding-top: 50px;
    flex-wrap: wrap;
}

footer .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

footer .copyright {
    padding-top: 10px;
}

.social-item {
    padding-left: 10px;
}

#profile-image {
    border-radius: 50%;
    border: solid white 6px
}

.publications-entries {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.pub-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-between; */
    
    background-color: rgb(250, 250, 250);
    margin: 5px;
    border-radius: 2px;
    /* width: 100%; */
    /* height: 250px; */
    transition: all 0.4s ease-in-out;
}

.pub-item-header {
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(157, 235, 255); */
    padding: 15px;
    flex-wrap: wrap;
    cursor: pointer;

    transition: all 0.2s ease-in-out
}

.pub-item-header:hover {
    /* background-color: rgb(255, 136, 0); */

}

.pub-item-collapsable {
    padding: 15px;
    /* display: none; */
    /* height: 0; */
}

.pub-title {
    /* font-style: italic; */
}

.pub-date {
    padding-right: 10px;
    font-style: italic;
}

.pub-footer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pub-link, .pub-link a {
    color: tomato;
}