body {
    font-family: "Roboto", sans-serif;

    margin: 0;
    height:100%;
}

.background-image {
    background-color: rgb(22, 22, 22);

    background-image: url("background-image.jpg");
    background-size: cover;
    display: block;
    filter: blur(30px);
    -webkit-filter: blur(30px);
    height: 800px;
    left: 0;
    box-shadow: 0px 0px 40px 40px black;
    position: fixed;
    right: 0;
    z-index: -100;
}

.foreground {
    background-color: rgb(34, 34, 34) !important;
}

#header {
    padding: 10px;

}

#header a {
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 17px;
}


#menu {
    font-family: 'Major Mono Display', monospace;
    font-family: "Jura", sans-serif;

    margin: 0;
    padding: 0;
    display: inline-block;
}


#header ul li {
    display: inline-block;
    padding: 5px 10px 5px;
}



#name-greeting {
    font-family: 'Major Mono Display', monospace;
    font-family: "Jura", sans-serif;

    margin-top: 30px;
    color: yellow;
    margin-bottom: 30px;
}

#nametitle {
    color: rgb(216, 216, 216);
    font-size:20px;
    margin:0;
    padding:0;
}

#realname {
    font-size: 40px;
    margin: 0 0 0 5px;
}

#alias {
    margin:0px;
    font-size: 20px;
}




#main-info {
    margin:20px;
    padding:20px;
    color: rgb(216, 216, 216);
    font-size: 15px;
    border-radius:5px;
}



#profile-picture-holder img {
    float: left;
    width: 128px;
    height: 128px;
    padding-right: 22px;
    padding-bottom:2px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;

    text-align: right;

    margin: 0;
    padding: 0;
    display: inline-block;


}

#footer ul{
    margin:5px;
}

#footer ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#footer a {
    text-decoration: none;
    color: rgb(216, 216, 216);

    padding: 0;
    margin: 0;
}

.social-icon {
    width: 25px;
    padding-right: 20px;
}




::selection {
    background-color: yellow;
    color:black;
}

