* {
    padding:0; margin:0;
    color: rgb(90, 90, 90);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;


}

body {
    background-color: #efeeee;
}



li a {
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    padding: 10px;
}

h1 {
    font-size: 30px;
    font-family: 'Space Mono', monospace;    
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}


.vspacer {
    padding: 10px 0 10px;
}



#hbar {
    align-content: center;
    height: 20px;
    width:10px;
    background: rgb(172, 172, 172);
    
}

footer * {
    font-size: 12px;
    color: rgb(161, 161, 161);
}

#profile-img {
    border-radius: 50%;
}

h2 {
    font-size: 15px;
    color: rgb(129, 129, 129);
}

#social-row a *{
    color: #f9a26c;
    transition: 0.1s ease-in-out;
    font-size: 25px;
    padding: 4px;
    font-style: normal;
}

#social-row a *:hover{
    color: #f26627;
    
}